/******GENERAL**********/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #282828;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/*+++++++++++++MENU STYLE & ICONS+++++++++++++*/

#menu {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  padding: 1vw 0;
  width: 35vw;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

#playbutton, #randombutton {
  width: 3vw;
  height: 3vw;
  margin-right: 3vw;
}

#recordbutton {
  width: 3vw;
  height: 3vw;
  margin-left: 3vw;
}

#loopbutton {
  width: 5vw;
  height: 5vw;
  margin: 0 2vw;
}

/*+++++++++++LOOPICONS++++++++++++++++++++*/

.progress-ring {
  width: 4vw;
  height: 4vw;
  transform: rotateY(-180deg) rotateZ(-90deg);
  margin-left: 1vw;
}

.progress-ring__circle {
  stroke: black;
  stroke-width: 0.25vw;
  stroke-dasharray: 11vw;
  stroke-dashoffset: 0vw;
  fill: rgba(255, 255, 255, 0.6);
  r: 1.76vw;
  cx: 50%;
  cy: 50%;
}

/***ANIMATION LOOPICONS***/

@keyframes countdown {
  from {
    stroke-dashoffset: -11vw;
  }
  to {
    stroke-dashoffset: 0vw;
  }
}

/****STYLING LOOPICONS****/

.loopcontrols {
  position: absolute;
  max-width: 92.5%;
  height: 0;
}

.loop {
  float: left;
  margin: 2vw 0 0 1.5vw;
  transition: 0.2s;
}

@keyframes slide {
  from {
    margin-left: 1.5vw;
  }
  to {
    margin-left: -5vw;
  }
}

/*******three icons to interact with the loop******/

.loop ul {
  height: 100%;
  position: fixed;
  z-index: 999999999999;
  margin-left: -0.25vw;
  ;
}

.loop ul li {
  cursor: pointer;
  float: left;
  height: 2vw;
  width: 2vw;
}

.loopPausePlay {
  margin-top: -0.5vw;
  margin-right: 0.2vw;
  display: none;
}

.loopDelete {
  margin-top: -0.5vw;
  margin-left: 0.2vw;
  display: none;
}

.loopMute {
  margin-top: -1.2vw;
  display: none;
}

/***hover over loopicon and you'll see three buttons to interact with loops**/

.loop:hover>ul li {
  display: block;
}

/*******DOWNLAOD OVERLAY*********/

#overlay {
  position: absolute;
  /* Sit on top of the page content */
  display: none;
  opacity: 0;
  /* Hidden by default */
  animation: overlayAnimation 2s ease 0.25s forwards;
  width: 25vw;
  /* Full width (cover the whole page) */
  height: 25vw;
  /* Full height (cover the whole page) */
  background-color: rgba(255, 255, 255);
  /* Black background with opacity */
  margin-top: 5vw;
  margin-left: 37.5%;
  top: 0;
  z-index: 999999999999999999999;
  align-items: center;
  /* Specify a stack order in case you're using a different order for other elements */
  border-radius: 15vw;
}

@keyframes overlayAnimation {
  to {
    opacity: 1;
  }
}

#overlay ul li p {
  font-size: 1.75vw;
  margin-top: 2vw;
  vertical-align: middle;
  text-align: center;
  color: #4d4b4b;
}

#overlay ul {
  text-align: center;
}

#underlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  opacity: 0.4;
  animation: underlayAnimation 0.8s ease;
  z-index: 99999999999999999999;
}

@keyframes underlayAnimation {
  from {
    opacity: 0;
  }
}

#downloadbutton {
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  margin-top: 2.5vw;
}

#closeOverlay {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  margin-left: 17.5vw;
  margin-top: 2vw;
}

#logoIcon {
  margin-top: -2.5vw;
  width: 8vw;
  height: 8vw;
  text-align: center;
}

/**********SIDEMENU***************/

#sidemenu {
  position: absolute;
  right: 1vw;
  top: 1vw;
  z-index: 999999999999999;
}

#closeSideMenuDiv {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999999999;
  display: none;
}

#sideMenuIcon {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  padding: 1vw;
}

#sideMenuIcons {
  position: absolute;
  right: 1.5vw;
  top: 5.5vw;
  /*hidden by default*/
  display: none;
  z-index: 999999999999999;
}

#openIcon {
  animation: openIconAnimation 0.3s ease;
}

@keyframes openIconAnimation {
  from {
    opacity: 0;
    margin-top: -2vw;
  }
}

#saveIcon {
  animation: saveIconAnimation 0.3s ease;
  margin-top: 4vw;
}

@keyframes saveIconAnimation {
  from {
    opacity: 0;
    margin-top: 0vw;
  }
}

#helpIcon {
  animation: helpIconAnimation 0.3s ease;
  margin-top: 8vw;
}

@keyframes helpIconAnimation {
  from {
    opacity: 0;
    margin-top: 2vw;
  }
}

#sideMenuIcons svg {
  position: absolute;
  top: 0vw;
  right: 0vw;
  width: 3vw;
  height: 3vw;
  display: block;
  cursor: pointer;
}

#saveOverlay {
  position: absolute;
  /* Sit on top of the page content */
  display: none;
  opacity: 0;
  /* Hidden by default */
  animation: overlayAnimation 2s ease 0.25s forwards;
  width: 25vw;
  /* Full width (cover the whole page) */
  height: 25vw;
  /* Full height (cover the whole page) */
  background-color: rgba(255, 255, 255);
  /* Black background with opacity */
  margin-top: 5vw;
  margin-left: 37.5%;
  top: 0;
  align-items: center;
  /* Specify a stack order in case you're using a different order for other elements */
  border-radius: 15vw;
  z-index: 999999999999999999999;
}

#saveUnderlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  opacity: 0.4;
  animation: underlayAnimation 0.8s ease;
  z-index: 99999999999999999999;
}

#saveButton {
  background-color: #2fecfd;
  border-radius: 2vw;
  border: none;
  font-size: 1.25vw;
  padding: 0.75vw 2vw;
  cursor: pointer;
  margin-top: 2vw;
}

#headerSave {
  font-size: 1.75vw;
  margin-bottom: 2.75vw;
}

#saveOverlay ul {
  text-align: center;
}

#saveOverlay ul li {
  text-align: center;
}

#username, #projectname {
  display: block;
  margin-left: calc(2.5vw - 1px);
  width: 18vw;
  height: 2.2vw;
  border: solid 1px #a5a4a4;
  border-radius: 2.2vw;
  margin-top: 1.8vw;
  padding: 0.5vw 1vw;
  font-size: 1vw;
}

#labelProjectname, #labelUsername {
  position: absolute;
  margin-left: -7vw;
  margin-top: -0.75vw;
  font-size: 1vw;
  background-color: white;
  padding: 0 0.2vw;
  color: #a5a4a4;
}

#labelProjectname {
  margin-top: 1.02vw;
}

#closeSaveOverlay {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  margin-left: 17.5vw;
  margin-top: 2vw;
}

/***********OPEN PROJECT OVERLAY****************/

#openOverlay {
  position: absolute;
  display: none;
  opacity: 0;
  animation: overlayAnimation 2s ease 0.25s forwards;
  width: 40vw;
  height: 90%;
  background-color: rgba(255, 255, 255);
  margin-top: 5vh;
  margin-left: 30%;
  top: 0;
  align-items: center;
  border-radius: 2vw;
  z-index: 999999999999999999999;
}

#closeOpenOverlay {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  margin-left: 38.6vw;
  margin-top: -0.6vw;
}

#headerOpen {
  font-size: 1.75vw;
  text-align: center;
}

#usernameProject {
  margin-top: 2vw;
  margin-left: calc(2vw - 1px);
  width: 34vw;
  height: 2.2vw;
  border: solid 1px #a5a4a4;
  border-radius: 2.2vw;
  padding: 0.5vw 1vw;
  font-size: 1vw;
}

#databaseTable {
  width: 34vw;
  margin-top: 1.5vw;
  margin-left: 2vw;
  padding: 0 1vw;
  font-size: 1.15vw;
  height: calc(85vh - 10.9vw);
  overflow-y: scroll;
}

/*#databaseTable::before {
  content: "";
  position: absolute;
  right: 2vw;
  width: 5vw;
  height: 20vh;
  background: linear-gradient(to left, white, white 20%, rgba(0,0,0,0));
}*/

#databaseTable li {
  margin-bottom: 1.2vw;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

#findProject {
  position: absolute;
  margin-left: 4vw;
  margin-top: 1.32vw;
  font-size: 1vw;
  background-color: white;
  padding: 0 0.2vw;
  color: #a5a4a4;
}