/******GENERAL**********/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #282828;
  outline: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

/************ CANVAS ****************/

canvas {
  width: 100vw !important;
  height: 56.25vw !important;
  z-index: -1;
  display: block;
}

/*+++++++++++++MENU STYLE & ICONS+++++++++++++*/

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 49vw;
  width: 15vw;
}

#randombutton {
  width: 3vw;
  height: 3vw;
  margin-left: 1.25vw;
  cursor: pointer;
}

#loopbutton {
  width: 5vw;
  height: 5vw;
  margin-right: 1.25vw;
  cursor: pointer;
}

/*+++++++++++LOOPICONS++++++++++++++++++++*/

.progress-ring {
  width: 4vw;
  height: 4vw;
  transform: rotateY(-180deg) rotateZ(-90deg);
  margin-left: 1vw;
}

.progress-ring__circle {
  stroke: black;
  stroke-width: 0.25vw;
  stroke-dasharray: 277%;
  stroke-dashoffset: 0;
  fill: rgba(255, 255, 255, 0.6);
  r: 1.76vw;
  cx: 50%;
  cy: 50%;
}

/***ANIMATION LOOPICONS***/

@keyframes countdown {
  0% {
    stroke-dashoffset: 277%;
  }
  100% {
    stroke-dashoffset: 554%;
  }
}

/****STYLING LOOPICONS****/

.loopcontrols {
  position: absolute;
  max-width: 45%;
  height: 0;
  z-index: 999;
}

.loop {
  float: left;
  margin: 2vw 0 0 1.5vw;
  transition: 0.2s;
}

@keyframes slide {
  from {
    margin-left: 1.5vw;
  }
  to {
    margin-left: -5vw;
  }
}

/*******three icons to interact with the loop******/

.loop ul li {
  cursor: pointer;
  float: left;
  height: 2vw;
  width: 2vw;
  position: absolute;
  z-index: 999999999999;
}

.loopPausePlay {
  margin-top: -0.3vw;
  display: none;
}

.loopDelete {
  margin-top: -0.3vw;
  margin-left: 4vw;
  display: none;
}

.loopMute {
  margin-top: -1.4vw;
  margin-left: 2vw;
  display: none;
}

/***hover over loopicon and you'll see three buttons to interact with loops**/

.loop:hover>ul li {
  display: block;
  z-index: 999999999999;
}

/*******DOWNLAOD OVERLAY*********/

#overlay {
  position: absolute;
  opacity: 0;
  animation: overlayAnimation 2s ease 0.25s forwards;
  width: 25vw;
  height: 25vw;
  background-color: rgba(255, 255, 255);
  margin-top: 5vw;
  margin-left: 37.5%;
  top: 0;
  left: 0;
  z-index: 999999999999999999999;
  align-items: center;
  border-radius: 15vw;
  text-align: center;
}

@keyframes overlayAnimation {
  to {
    opacity: 1;
  }
}

#overlay p {
  font-size: 1.75vw;
  margin-top: 2vw;
  vertical-align: middle;
  text-align: center;
  color: #4d4b4b;
}

#underlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.4;
  animation: underlayAnimation 0.8s ease;
  z-index: 99999999999999999999;
}

@keyframes underlayAnimation {
  from {
    opacity: 0;
  }
}

#downloadbutton {
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  margin-top: 2.5vw;
}

#closeOverlay {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  margin-left: 17.5vw;
  margin-top: 2vw;
}

#logoIcon {
  margin-top: -2.5vw;
  width: 8vw;
  height: 8vw;
  text-align: center;
}

/**********SIDEMENU***************/

#sidemenu {
  position: absolute;
  right: 1vw;
  top: 1vw;
  z-index: 999999999999999;
}

#closeSideMenuDiv {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999999999;
}

#sideMenuIcon {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  padding: 1vw;
}

#sideMenuIcons {
  position: absolute;
  right: 1.5vw;
  top: 5.5vw;
  z-index: 999999999999999;
}

#useChromeOverlay {
  font-size: 1.25vw !important;
  padding: 2vw 3vw;
}

#recordbutton {
  width: 3vw;
  height: 3vw;
  margin-left: 3vw;
  cursor: pointer;
  animation: recordbuttonAnimation 0.3s ease;
}

@keyframes recordbuttonAnimation {
  from {
    opacity: 0;
    margin-top: -2vw;
  }
}

#mixerIcon {
  animation: mixerbuttonAnimation 0.3s ease;
  margin-top: 4vw;
  transition: 0.5s ease;
}

@keyframes mixerbuttonAnimation {
  from {
    opacity: 0;
    margin-top: 0vw;
  }
}

#openIcon {
  animation: openIconAnimation 0.3s ease;
  margin-top: 8vw;
  transition: 0.5s ease;
}

@keyframes openIconAnimation {
  from {
    opacity: 0;
    margin-top: 2vw;
  }
}

#saveIcon {
  animation: saveIconAnimation 0.3s ease;
  margin-top: 12vw;
  transition: 0.5s ease;
}

@keyframes saveIconAnimation {
  from {
    opacity: 0;
    margin-top: 4vw;
  }
}

#helpIcon {
  animation: helpIconAnimation 0.3s ease;
  margin-top: 16vw;
  transition: 0.5s ease;
}

@keyframes helpIconAnimation {
  from {
    opacity: 0;
    margin-top: 6vw;
  }
}

#sideMenuIcons svg {
  position: absolute;
  top: 0vw;
  right: 0vw;
  width: 3vw;
  height: 3vw;
  display: block;
  cursor: pointer;
}

/****Save Overlay***/

#saveOverlay {
  position: absolute;
  opacity: 0;
  animation: overlayAnimation 2s ease 0.25s forwards;
  width: 25vw;
  height: 25vw;
  background-color: rgba(255, 255, 255);
  margin-top: 5vw;
  margin-left: 37.5%;
  top: 0;
  align-items: center;
  border-radius: 15vw;
  z-index: 999999999999999999999;
  text-align: center;
}

.saveOpenUnderlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.4;
  animation: underlayAnimation 0.8s ease;
  z-index: 99999999999999999999;
}

#saveButton {
  background-color: #2fecfd;
  border-radius: 2vw;
  border: none;
  font-size: 1.25vw;
  padding: 0.75vw 2vw;
  cursor: pointer;
  margin-top: 2vw;
}

#headerSave {
  font-size: 1.75vw;
  margin-bottom: 2.75vw;
}

#headerShare {
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

#username, #projectname {
  display: block;
  margin-left: calc(2.5vw - 1px);
  width: 18vw;
  height: 2.2vw;
  border: solid 1px #a5a4a4;
  border-radius: 2.2vw;
  margin-top: 1.8vw;
  padding: 0.5vw 1vw;
  font-size: 1vw;
}

#labelProjectname, #labelUsername {
  position: absolute;
  margin-left: -7vw;
  margin-top: -0.75vw;
  font-size: 1vw;
  background-color: white;
  padding: 0 0.2vw;
  color: #a5a4a4;
}

#labelProjectname {
  margin-top: 1.02vw;
}

#closeSaveOverlay {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  margin-left: 17.5vw;
  margin-top: 2vw;
}

/****Share Overlay*****/

/**Share Overlay***/

#copyLinkIcon {
  vertical-align: bottom;
  width: 4.624vw;
  cursor: pointer;
}

#shareLink {
  width: 16vw;
  height: 2.2vw;
  border: solid 1px #a5a4a4;
  border-bottom-left-radius: 2.2vw;
  border-top-left-radius: 2.2vw;
  border-right: none;
  padding: 0.5vw 1vw;
  font-size: 1vw;
}

#shareLinkContainer {
  margin-top: 3.5vw;
}

/***********OPEN PROJECT OVERLAY****************/

#openOverlay {
  position: absolute;
  opacity: 0;
  animation: overlayAnimation 2s ease 0.25s forwards;
  width: 40vw;
  height: 28vw;
  background-color: rgba(255, 255, 255);
  margin-top: 2vw;
  margin-left: 30%;
  top: 0;
  align-items: center;
  border-radius: 2vw;
  z-index: 999999999999999999999;
}

#closeOpenOverlay {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
  margin-left: 38.6vw;
  margin-top: -0.6vw;
}

#headerOpen {
  font-size: 1.75vw;
  text-align: center;
}

#usernameProject {
  margin-top: 2vw;
  margin-left: calc(2vw - 1px);
  width: 34vw;
  height: 2.2vw;
  border: solid 1px #a5a4a4;
  border-radius: 2.2vw;
  padding: 0.5vw 1vw;
  font-size: 1vw;
}

#databaseTable {
  width: 37vw;
  margin-top: 1.5vw;
  margin-left: 1.5vw;
  font-size: 1.15vw;
  height: 16vw;
  overflow-y: scroll;
}

#databaseTable::before {
  content: "";
  position: absolute;
  right: 1.5vw;
  width: 3vw;
  height: 16vw;
  background: linear-gradient(to left, white, rgba(0, 0, 0, 0));
}

#databaseTable::after {
  content: "";
  position: absolute;
  top: 10.5vw;
  left: 1.5vw;
  width: 3vw;
  height: 16.5vw;
  background: linear-gradient(to right, white, rgba(0, 0, 0, 0));
}

#databaseTable li {
  padding: 0.6vw 0 0.6vw 2vw;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: block;
}

#databaseTable li:hover {
  background-color: #f1f1f1;
}

#findProject {
  position: absolute;
  margin-left: 4vw;
  margin-top: 1.32vw;
  font-size: 1vw;
  background-color: white;
  padding: 0 0.2vw;
  color: #a5a4a4;
}

/*************VOLUMEN MIXER OVERLAY****************/

.rangeslider__handle {
  border-radius: 50%;
  border: none !important;
  height: 1.5vw !important;
  width: 1.5vw !important;
  left: 0 !important;
  margin: 0 0 0 -0.45vw !important
}

.rangeslider {
  border: none !important;
  border-radius: 0.3vw !important;
  height: 10vw !important;
  width: 0.6vw !important;
  padding: 0 !important;
  max-width: initial !important;
  max-height: initial !important;
  margin: 0 auto 1vw auto !important;
}

.rangeslider__handle-tooltip {
  display: none !important;
}

.rangeslider__labels {
  display: none !important;
}

.rangeslider-vertical {
  border: none !important;
  border-radius: 1vw;
  box-shadow: none !important;
  background-color: #a5a4a4 !important;
}

.rangeslider__fill {
  border-bottom-right-radius: 0.3vw !important;
  border-bottom-left-radius: 0.3vw !important;
  padding-top: 1vw;
}

#volume1 .rangeslider__fill {
  background-image: linear-gradient(to bottom, #DD8AB7, #BED5FB);
}

#volume1 .rangeslider__handle {
  background-color: #DD8AB7;
}

#volume2 .rangeslider__fill {
  background-image: linear-gradient(to bottom, #4DE6CF, #D3F8AE);
}

#volume2 .rangeslider__handle {
  background-color: #4DE6CF;
}

#volume3 .rangeslider__fill {
  background-image: linear-gradient(to bottom, #FFB696, #FF7B95);
}

#volume3 .rangeslider__handle {
  background-color: #FFB696;
}

#mixer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#volume1 {
  display: inline;
  margin-right: 2vw;
}

#volume2 {
  display: inline;
}

#volume3 {
  float: left;
  margin-left: 2vw;
}

.mixerValue {
  width: 3vw !important;
  font-size: 1vw;
}

/*********** NAVIGATION MULTITRACKING **************/

#multitrackingNav {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 2vw;
  height: 0;
  z-index: 999999999999999;
}

#arrowForward {
  width: 2.2vw;
  height: 2.2vw;
  cursor: pointer;
}

#arrowBack {
  width: 2.2vw;
  height: 2.2vw;
  cursor: pointer;
}

#synthesizerName {
  font-size: 1.5vw;
  display: inline-block;
  vertical-align: middle;
  margin: -1.6vw 0.8vw 0 0.3vw;
  user-select: none;
}

/************* Start Overlay ***************/

#startUnderlay {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 33vw;
  background-color: black;
  opacity: 0.85;
  top: 0;
  left: 0;
  z-index: 9999999999999999;
}

#startOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999999999999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25vw;
}

#startLogo {
  min-width: 10vw;
  min-height: 10vw;
  width: 10vw;
  height: 10vw;
  margin: 10vh 0 5vh 0;
}

#startOverlay p {
  margin-bottom: 1vw;
  width: 50vw;
  text-align: center;
  line-height: 2.5vw;
  color: white;
}

#credits {
  font-size: 1vw
}

#outerButton {
  text-align: center;
}

#startButton {
  background-color: #2fecfd;
  border-radius: 2vw;
  border: none;
  font-size: 1.25vw;
  padding: 0.75vw 2vw;
  cursor: pointer;
  margin: 2vw 1.75vw 7vh 0;
  display: inline-block;
}

#startHelpButton {
  background-color: #2fecfd;
  border-radius: 2vw;
  border: none;
  font-size: 1.25vw;
  padding: 0.75vw 2vw;
  cursor: pointer;
  margin: 2vw 0 7vh 1.75vw;
  display: inline-block;
}

/*******HELP DIALOGUE********/

/***********HELP DIALOGUE*************/

/**Allgemein***/

.dialogueStyle {
  position: absolute;
  background-color: white;
  width: 12vw;
  height: 12vw;
  border-radius: 15vw;
  box-shadow: 2px 2px 20px grey;
  padding: 1vw;
  z-index: 9999999999999999;
  animation: helpAnimation 1s ease-out;
}

@keyframes helpAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.styleSkipButton {
  width: 3vw;
  padding: 0.2vw 1vw;
  cursor: pointer;
  background-color: #2fecfd;
  text-align: center;
  border-radius: 1vw;
  bottom: 1.8vw;
  left: 4.5vw;
  font-size: 1.2vw;
  position: absolute;
}

.closeDialogue {
  width: 2vw;
  height: 2vw;
  position: absolute;
  right: 0.8vw;
  cursor: pointer;
}

.dialogueStyle p {
  text-align: center;
  margin: 2.5vw 0.7vw 0.6vw 0.7vw;
  font-size: 1vw;
}

/* Help Dialogue Positions */

#clickCanvasDialogue {
  top: 6vw;
  left: 30vw;
}

#useEffects {
  top: 5vw;
  left: 15vw;
}

#soundbedDialogue {
  bottom: 4vw;
  left: 26vw;
}

#randomDialogue {
  bottom: 6vw;
  left: 37vw;
}

#loopDialogue {
  bottom: 5vw;
  left: 46vw;
}

#loopIconsDialogue {
  top: 4vw;
  left: 3vw;
}

#RecordDialogue {
  bottom: 5vw;
  left: 58vw;
}

#SaveOpenDialogue {
  top: 2vw;
  left: 82vw;
}

/**MOBILE VERSION*/

/*Landscape Modus */

@media only screen and (max-width: 800px) {
  /*STARTOVERLAY*/
  #startOverlay {
    font-size: 2.25vw;
  }
  #startLogo {
    width: 15vw;
    height: 15vw;
    margin: 0.5vh 0;
  }
  #startOverlay p {
    margin-bottom: 1vw;
    width: 90vw;
    text-align: center;
    line-height: 5vw;
    color: white;
  }
  #startButton {
    border-radius: 4vw;
    font-size: 2.5vw;
    padding: 1.25vw 3vw;
    margin: 1vw 2vw 5vw 0;
    display: inline-block;
  }
  #startHelpButton {
    border-radius: 4vw;
    font-size: 2.5vw;
    padding: 1.25vw 3vw;
    margin: 1vw 0 5vw 2vw;
    display: inline-block;
  }
  #credits {
    font-size: 1.8vw;
  }

  #menu {
    top: 46vw;
  }
  /*MENU ICONS*/
  #randombutton {
    width: 5.5vw;
    height: 5.5vw;
  }
  #loopbutton {
    width: 8vw;
    height: 8vw;
  }
  /**SIDEMENU*/
  #sideMenuIcon {
    width: 3.5vw;
    height: 3.5vw;
    margin-right: 0.5vw;
  }
  #sideMenuIcons svg {
    width: 5.5vw;
    height: 5.5vw;
  }
  #recordbutton, #stoprecordbutton {
    margin-top: 2vw;
  }
  #mixerIcon {
    margin-top: 9vw;
  }
  #openIcon {
    margin-top: 16vw;
  }
  #saveIcon {
    margin-top: 23vw;
  }
  #helpIcon {
    margin-top: 30vw;
  }
  /******MULTITRACKING NAV******/
  #arrowForward {
    width: 4vw;
    height: 4vw;
  }
  #arrowBack {
    width: 4vw;
    height: 4vw;
  }
  #synthesizerName {
    font-size: 2.5vw;
    margin-top: -2.3vw;
  }
  /******LOOPCONTROLS*********/
  .progress-ring {
    width: 5.5vw;
    height: 5.5vw;
  }
  .progress-ring__circle {
    r: 2.5vw;
  }
  @keyframes slide {
    to {
      margin-left: -6.5vw;
    }
  }
  /*interactive Icons for loopicons*/
  .loop ul li {
    width: 4vw;
    height: 4vw;
  }
  .loopPausePlay {
    margin: 7.75vw 0 0 1.75vw;
  }
  .loopDelete {
    margin: 19.75vw 0 0 1.75vw;
  }
  .loopMute {
    margin: 13.75vw 0 0 1.75vw;
  }
  /******OVERLAYS******/
  /*Record Overlay*/
  #underlay {
    background-color: white;
    opacity: 1;
    position: fixed;
  }
  #overlay {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 0;
    margin-left: 0;
    top: 0;
    left: 0;
    border-radius: 0;
  }
  #overlay p {
    font-size: 2.75vw;
    margin-top: 4vw;
  }
  #downloadbutton {
    width: 8vw;
    height: 8vw;
    margin-top: 6vw;
  }
  #closeOverlay {
    width: 4.5vw;
    height: 4.5vw;
    margin: 1.5vw;
    right: 0;
    top: 0;
    position: absolute;
  }
  #logoIcon {
    width: 15vw;
    height: 15vw;
    margin: 5vh 0;
  }
  /*Open Overlay*/
  #openOverlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto;
    margin: 0;
    left: 0;
    top: 0;
    border-radius: 0;
  }
  #closeOpenOverlay {
    width: 4.5vw;
    height: 4.5vw;
    margin: 1.5vw;
    right: 0;
    top: 0;
    position: absolute;
  }
  #headerOpen {
    font-size: 2.75vw;
    margin-top: 4vw;
  }
  #usernameProject {
    margin: 4vw 13vw 0.5vw 13vw;
    width: 70vw;
    height: 3vw;
    border-radius: 3vw;
    padding: 1vw 2vw;
    font-size: 2.25vw;
  }
  #findProject {
    margin-left: 19vw;
    margin-top: 2.75vw;
    font-size: 2vw;
    padding: 0 0.6vw;
  }
  #databaseTable {
    width: 72vw;
    height: auto;
    margin-top: 1.5vw;
    margin-left: 13vw;
    font-size: 1.15vw;
    margin-bottom: 4vw;
    overflow-y: auto;
  }
  #databaseTable::before {
    display: none;
  }
  #databaseTable::after {
    display: none;
  }
  #databaseTable li {
    font-size: 2.25vw;
    padding: 1vw 0 1vw 2vw;
  }
  /*Save Overlay*/
  .saveOpenUnderlay {
    background-color: white;
    opacity: 1;
    position: fixed;
  }
  #saveOverlay {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    margin-top: 0;
    margin-left: 0;
    top: 0;
    left: 0;
    border-radius: 0;
  }
  #saveButton {
    border-radius: 4vw;
    font-size: 2.5vw;
    padding: 1.25vw 3vw;
    margin: 6vw 0 5vw 0vw;
  }
  #headerSave {
    font-size: 2.75vw;
    margin-top: 4vw;
  }
  #headerShare {
    font-size: 2.5vw;
    margin-top: 4vw;
  }
  #username, #projectname {
    margin-left: 23vw;
    width: 50vw;
    height: 3vw;
    border-radius: 3vw;
    margin-top: 6vw;
    padding: 1vw 2vw;
    font-size: 2.25vw;
  }
  #labelProjectname, #labelUsername {
    margin-left: -20vw;
    margin-top: -1.2vw;
    font-size: 2vw;
    padding: 0 0.6vw;
  }
  #labelProjectname {
    margin-top: 4.7vw;
  }
  #closeSaveOverlay {
    width: 4.5vw;
    height: 4.5vw;
    margin: 1.5vw;
    right: 0;
    top: 0;
    position: absolute;
  }
  /*Share Overlay*/
  #copyLinkIcon {
    width: 7.27vw;
  }
  #shareLink {
    width: 42.73vw;
    height: 3vw;
    border-bottom-left-radius: 3vw;
    border-top-left-radius: 3vw;
    padding: 1vw 2vw;
    font-size: 2.25vw;
  }
  #shareLinkContainer {
    margin-top: 8vw;
  }
  /*Mixer Overlay*/
  .rangeslider__handle {
    height: 3.5vw !important;
    width: 3.5vw !important;
    margin: 0 0 0 -1.05vw !important
  }
  .rangeslider {
    height: 25vw !important;
    width: 1.4vw !important;
    border-radius: 0.6vw !important;
    margin: 4vw auto 2vw auto !important;
  }
  .rangeslider__fill {
    border-bottom-right-radius: 0.6vw !important;
    border-bottom-left-radius: 0.6vw !important;
  }
  .mixerValue {
    width: 6vw !important;
    font-size: 2.25vw;
  }
  #volume2 {
    margin: 0 10vw;
  }
}